# rename this file to .env
POSTGRES_CONNECTION_STRING=postgresql://username:password@host_name_or_ip:postgres_port_number
WS_DEBT_LINK=https://my.wealthsimple.com/copy-this-part-into-here
WS_CREDIT_LINK=https://my.wealthsimple.com/copy-this-part-into-here